<html>
    <head>
        <title>{{title}} - RashFed</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
    </head>
    <body>
        <header class = "header-wrapper">
                <div class="header-logo">
                    <img src="{{ url_for('static', filename='shaurma-god.jpg') }}" alt="SHAURMA GOD">
                    <div class="header-text">
                        <h1>Онлайн-магазин RashFed</h1>
                        <h3>Cочно! Быстро! Дёшево!</h3>
                    </div>
                </div>

                <nav class="header-menu">
                    <a href="#"><img src="{{ url_for('static', filename='shop-basket.png')}}" alt="Shop Basket"></a>
                    <a href="#"><img src="{{ url_for('static', filename='user-profile.png')}}" alt="Profile"></a>
                </nav>
        </header>
        <main>
            <div class="home-page-wrapper">
                <div class="home-page-menu">
                    {% for category in categories %}
                        <div class="menu-root">
                            <img src="{{ url_for('static', filename=category.img )}}" alt="#">
                            <div class = "menu-info">
                                <a href="#">{{ category.name }}</a>
                                <div class = "menu-subinfo">
                                    <a href="#">{{ category.description }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="home-page-center">
                    {% for product in products %}
                        <div class="product-block">
                            <div class="product-block-image">
                                <a href="{{url_for('productPage', browsername = product.browserName)}}"><img src="{{ url_for('static', filename='shaurma-title.jpg')}}" alt="PRODUCT"></a>
                            </div>
                            <div class="product-block-name">
                                {{ product.name }}
                                <div class="product-block-cost">
                                    {{ product.cost }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>

        <script src= "{{url_for('static', filename='script.js')}}"></script>
    </body>
</html>