<html>
    <head>
        <title>{{title}} - Shop</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src= url_for('static', filename='script.css')></script>
    </head>
    <body>
        <header class = "header-wrapper">
                <div class="header-logo">
                    <img src="{{ url_for('static', filename='shaurma-god.jpg') }}" alt="SHAURMA GOD">
                    <div class="header-text">
                        <h1>Онлайн-магазин шаурмы</h1>
                        <h3>Cочно! Быстро! Дёшево!</h3>
                    </div>
                </div>

                <nav class="header-menu">
                    <a href="#"><img src="{{ url_for('static', filename='shop-basket.png')}}" alt="Shop-Basket"></a>
                    <a href="#"><img src="{{ url_for('static', filename='user-profile.png')}}" alt="Profile"></a>
                </nav>
        </header>

        <main>
            {% for product in products %}
                <div class="product_block">
                    <article>
                        <div class="name">{{product.name}}</div>
                        <div class="description">{{product.description}}</div>
                    </article>
                </div>
            {% endfor %}
        </main>
    </body>
</html>